html * {
    box-sizing: border-box;
    font-family: Epilogue, sans-serif;
  }
  
  body {
    display: flex;
    flex-direction: column;
    background-color: #ECFFFF;
  }
  
  header {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    margin: auto 100px auto 100px;
  }

  h1 {
    font-weight: bold;
    font-size: 50px;
    align-content: center;
    text-align: center;
  }
  
  #ready, #sure, #replay {
    background: white;
    color: #ff00dd;
    font-size: 25px;
    height: 50px;
    width: 150px;
    border-radius: 12px;
    border: #ff00dd 2px solid;
    font-weight: bold;
  }

  #play-button {
    margin: 5vh auto 10vh auto;
    display: flex;
    align-content: center;
  }
  
  #ready:hover, #sure:hover {
    background: #ff00dd;
    color: white;
  }
  
  #game-board {
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     flex-grow: 2;
     flex-wrap: wrap;
  }
  
  #game-board * {
    margin: 0;
    padding: 5px;
  }
  
  .color {
    font-size: 25px;
    height: 150px;
    width: 150px;
    padding: 20px;
    border-radius: 12px;
    border: none;
  }
  
  .color:focus {
    animation: glow .5s;
  }
  
  #blue {
    background: #87DBFF;
  }
  
  @keyframes glow {
    from {
      box-shadow: 0 0 100px -10px #ff00dd;
    } 
  }

  .active {
      animation: lightUp 1s;
      border: black;
  }

  @keyframes lightUp {
    from {
      box-shadow: 0 0 100px -10px black;
    }
  }
  
  #green {
    background: #A2F57B;
  }
  
  #yellow {
    background:#FDFF87;
  }
  
  #red {
    background:#FF8787;
  }
  
  #level-header {
    margin: auto 10px auto auto;
  }
  
  #levels {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    margin: 5vh auto auto auto;
  }
  
  .level {
    height: 25px;
    width: 25px;
    background-color: #F9C3FA;
    border-radius: 50%;
    padding: 15px;
    margin: 5px
  }
  
  