html * {
    box-sizing: border-box;
    font-family: Verdana;
  }
  
  body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #ECFFFF;
  }
  
  header {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    margin: auto auto 50px auto;
  }
  
  #ready {
    height: 50px;
    width: 150px;
    border-radius: 12px;
    border: none;
    background: #ff00dd;
    display: flex;
    align-self: center;
    justify-self: center;
    color: white;
    font-size: 30px;
    margin: 0 auto 50px auto;
  }
  
  #ready:hover {
    animation: glow 1s;
  }
  
  #game-board {
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     flex-grow: 2;
     flex-wrap: wrap;
  }
  
  #game-board * {
    margin: 0;
    padding: 3px;
  }
  
  .color {
    font-size: 25px;
    height: 150px;
    width: 150px;
    padding: 20px;
    border-radius: 12px;
    border: none;
  }
  
  .color:focus {
    animation: glow .5s;
  }
  
  #blue {
    background: #87DBFF;
  }
  
  @keyframes glow {
    from {
      box-shadow: 0 0 100px -10px #ff00dd;
    }
    to {
      box-shadow: 0 0 2px 2px #ff00dd inset;
    }
  }

  .simonColor:active {
      animation: lightUp 2s;
  }

  @keyframes lightUp {
    from {
      box-shadow: 0 0 100px -10px #ffd000;
    }
    to {
      box-shadow: 0 0 5px 5px #ffd000 inset;
    }
  }
  
  #green {
    background: #A2F57B;
  }
  
  #yellow {
    background:#FDFF87;
  }
  
  #red {
    background:#FF8787;
  }
  
  
  #levels {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
  }
  
  .level {
    height: 25px;
    width: 25px;
    background-color: #F9C3FA;
    border-radius: 50%;
    padding: 15px;
    margin: 5px
  }
  
  